body {
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 5rem;
}

.vh-80 {
  height: 80vh;
}

.main-content {
  height: calc(100% - 1.6rem);
}

.bg-content {
  height: calc(100vh - 12rem);
  background-color: rgb(228, 228, 228);
}

.register-form {
  width: max(40%, 18rem);
}

.alert-icon {
  height: 1.2rem;
  width: 1.5rem;
}

.error-icon {
  fill: #58151c;
}

.success-icon {
  fill: #0a3622;
}