body {
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  display: flex ;
  height: 100%;
  flex-direction: column;
}

.h1-position {
  display: flex;
  flex-grow: 1;
  max-height: 90%;
}

.bg-content {
  border-color: rgb(210, 210, 210);
  background-color: rgb(222, 222, 222);
}

.register-form {
  width: max(43%, 18rem);
}

.alert-icon {
  height: 1.2rem;
  width: 1.5rem;
}

.error-icon {
  fill: #58151c;
}

.success-icon {
  fill: #0a3622;
}

.spacer-1 {
  list-style-type: none
}

.text-container {
    width: 100%;
    text-align: justify;
    overflow: hidden;
}

.left-text {
    float: left;
}

.right-text {
    float: right;
}
