<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/library.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Header</title>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark px-4" th:fragment="header">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Spring Library</a>
      <button class="navbar-toggler py-0 px-1" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-4">
          <li class="nav-item">
            <a class="nav-link" th:classappend="${action == 'Authors' ? 'active' : ''}" href="/authors">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:classappend="${action == 'Publishers' ? 'active' : ''}"
              href="/publishers">Publishers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:classappend="${action == 'Books' ? 'active' : ''}" href="/books">Books</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
              th:classappend="${action == 'Register' ? 'active' : ''}">
              Register
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/authors/new">New author</a></li>
              <li><a class="dropdown-item" href="/publishers/new">New publisher</a></li>
              <li><a class="dropdown-item" href="/books/new">New book</a></li>
            </ul>
          </li>

        </ul>
      </div>
      <form class="d-flex justify-content-end input-group-sm" role="search" th:action="@{'/search'}"
        th:object="${searchForm}" method="get">
        <input type="hidden" th:value="${action}" th:field="*{action}">
        <input class="form-control me-2" type="search" placeholder="Search (alt+shift+k)" aria-label="Search"
          th:field="*{searchText}" autocomplete="off" accesskey="k">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </nav>
</body>

</html>